{% extends "main.html" %}

{% block title %}Cohorts{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/cohort.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="many-brs"></div>

    <div class="container-fluid px-4">
        <h1>{{ cohort.name }}</h1>
        <hr>
        <br>

        {% if user.discriminator == "instructor" %}
            <form class="form-inline">
                <div class="form-group mr-2">
                    <label for="new-user-name">Add a new user</label>
                </div>
                <div style="position: relative">
                    <input autocomplete="off" class="form-control mr-sm-2 dropdown-toggle"
                           id="cohort-user-search" type="text" placeholder="Search"
                           aria-label="Search" data-toggle="dropdown">
                    <div class="dropdown-menu" style="visibility: hidden;">
                        <div class="list-group search-dropdown" id="cohort-search-dropdown"
                             style="visibility: visible;">
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
        {% endif %}

        {% if instructors | length > 0 %}
            <h2>Instructors / TAs</h2>
            <ul class="row">
                {% for instructor in instructors %}
                    <li>{{ deleteable_card(instructor, user, True, instructor.username, user.discriminator == "instructor") }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}

        {% if mentors | length > 0 %}
            <h2>Mentors</h2>
            <ul class="row">
                {% for mentor in mentors %}
                    <li>{{ deleteable_card(mentor, user, True, mentor.username, user.discriminator == "instructor") }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}

        {% if students | length > 0 %}
            <h2>Students</h2>
            <ul class="row">
                {% for student in students %}
                    <li>{{ deleteable_card(student, user, True, student.username, user.discriminator == "instructor") }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}


    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/cohort.js"></script>
    <script>
        let cohort_id = "{{ cohort.id }}";
    </script>
{% endblock %}


{% macro deleteable_card(profile_user, user, full, id, button) -%}
    <div class="card profile-card">
        {% if full %}
            <div class="card-image-container">
                <img src="{{ profile_user.profile_picture_path_or_default }}" class="card-img-top">
                {% if button %}
                    <button type="button" class="close delete-card" data-id="{{ id }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </div>

        {% endif %}
        <div class="card-body">
            {% if profile_user.full_name %}
                <h4 class="card-title mb-2">{{ profile_user.full_name }}</h4>
            {% endif %}
            {{ label(profile_user, "h6") }}
            <p class="mt-3 mb-2 text-muted">
                {{ username(profile_user) }}
                {% if profile_user.email %}
                    <br>
                    {{ profile_user.email }}
                {% endif %}
                {% if profile_user.skype_id %}
                    <br>
                    <span class="text-secondary">skype:</span>
                    <a href="live:{{ profile_user.skype_id }}" class="text-info">{{ profile_user.skype_id }}</a>
                {% endif %}
                {% if profile_user.location %}
                    <br>
                    {{ profile_user.location }}
                {% endif %}
            </p>

            {% for cohort in profile_user.cohorts %}
                {% if cohort in user.cohorts %}
                    <a href="/cohort/{{ cohort.id }}"><span class="badge badge-info">{{ cohort.name }}</span></a>
                {% endif %}
            {% endfor %}

            {% if profile_user.discriminator == "student" %}
                {% if user.discriminator == "instructor" or (user.discriminator == "mentor" and profile_user in user.students) %}
                    <br><br>
                    <div class="vm-connect" data-username="{{ profile_user.username }}">
                        <div class="spinner-border"></div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}
