{% extends "main.html" %}

{% block title %}Cohorts{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/cohort.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="many-brs"></div>

    <div class="container-fluid px-4">
        <h1>{{ cohort.name }} Cohort</h1>
        <hr>
        <br>

        {% if user.discriminator == "instructor" %}
            <form class="form-inline">
                <div class="form-group mr-2">
                    <label for="new-user-name">Add a new user</label>
                </div>
                <div style="position: relative">
                    <input class="form-control mr-sm-2 dropdown-toggle"
                           id="cohort-user-search" type="text" placeholder="Search"
                           aria-label="Search" data-toggle="dropdown">
                    <div class="dropdown-menu" style="visibility: hidden;">
                        <div class="list-group search-dropdown" id="cohort-search-dropdown" style="visibility: visible;">
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
        {% endif %}

        {% if instructors | length > 0 %}
            <h2>Instructors / TAs</h2>
            <ul class="row">
                {% for instructor in instructors %}
                    <li>{{ card(instructor, True) }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}

        {% if mentors | length > 0 %}
            <h2>Mentors</h2>
            <ul class="row">
                {% for mentor in mentors %}
                    <li>{{ card(mentor, True) }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}

        {% if students | length > 0 %}
            <h2>Students</h2>
            <ul class="row">
                {% for student in students %}
                    <li>{{ card(student, True) }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}


    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/cohort.js"></script>
    <script>
        let cohort_id = "{{ cohort.id }}";
    </script>
{% endblock %}
