{% extends "main.html" %}

{% block title %}STEM@IAA - Home{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block nav_content %}
    <li class="nav-item active">
        <a class="nav-link" href="#myCarousel">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#partners">Partners</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#inst-pad">Instructors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#learn">Learn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="mailto:STEM@vthitec.org">Contact</a>
    </li>
{% endblock %}

{% block content %}
    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="dd-block w-100" width="100%" focusable="false"
                         role="img" src="/static/images/code.jpg" alt="First slide">
                    <rect width="100%"/>
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Learn Software Development.</h1>
                            <p>Software drives the modern world. Discover how to design, code, deploy and test new and
                                innovative solutions. Trust us, you'll like it.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://application.vthitec.org/LM/"
                                  target="_blank" role="button">Apply Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="dd-block w-100" width="100%" height="100%" preserveAspectRatio="true" focusable="false"
                         role="img" src="/static/images/rpi.jpg" alt="First slide">
                    <rect width="100%" height="100%"/>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Learn Systems Engineering.</h1>
                            <p>Hardware meet software. Build a circuit. Write a script. Watch them play together. What
                                could be more fun than that?</p>
                            <p><a class="btn btn-lg btn-primary" href="https://application.vthitec.org/LM/"
                                  target="_blank" role="button">Apply Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="dd-block w-100" width="100%" height="100%" preserveAspectRatio="true" focusable="false"
                         role="img" src="/static/images/keyboard.jpg" alt="First slide">
                    <rect width="100%" height="100%"/>
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Solve Complex Problems.</h1>
                            <p>What's an algorithm? What's a programming language? Develop your critical thinking skills
                                as you uncover the mysteries of modern technology.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://application.vthitec.org/LM/"
                                  target="_blank" role="button">Apply Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="dd-block w-100" width="100%" height="100%" preserveAspectRatio="true" focusable="false"
                         role="img" src="/static/images/binary.jpg" alt="First slide">
                    <rect width="100%" height="100%"/>
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>A World of 1's and 0's.</h1>
                            <p>It all begins with a 0 or a 1. How is everything we do in the digital world built from
                                these simple and primitive values? Join us to find some answers.</p>
                            <p><a class="btn btn-lg btn-primary btn-color" href="https://application.vthitec.org/LM/"
                                  target="_blank" role="button">Apply Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <!-- Marketing messaging and featurettes -->

        <!-- START THE FEATURETTES -->
        <div id="about" class="container marketing">
            <h2 class="featurette-heading spc">Lockheed Martin <span class="text-muted">Virtual STEM Education</span>
            </h2>
            <div class="row featurette">
                <div class="col-md-7">
                    <!--<h2 class="featurette-heading">Learn to code. <span class="text-muted">It will change your life.</span></h2>-->
                    <p class="lead">The Lockheed Martin Virtual STEM Education and Work-based Mentored Experience
                        program is for rising high school juniors and seniors 16 years or older. The program, sponsored
                        by the Lockheed Martin Foundation, provides an opportunity for students to learn about the
                        exciting field of software development while earning college credits and being mentored by
                        Lockheed Martin industry experts. No prior programming experience necessary!</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                         height="400" src="/static/images/lockheed_martin_logo.jpg" preserveAspectRatio="xMidYMid slice"
                         focusable="false" role="img"><title>Lockheed Martin Logo</title></img>
                </div>
            </div>
            <p class="lead">This innovative program is offered virtually (100% online) and is designed with flexibility
                in mind for students to supplement their traditional high school education. The program is comprised of
                two courses, the first being offered in Fall 2019 and the second in the Spring 2020 semester. A team of
                dedicated instructors and teaching assistants will guide students through the fundamentals of software
                development in a virtual hands-on project-based education and learning experience. Students will also by
                assigned individualized mentors from Lockheed Martin who are subject matter experts in the field!</p>

        </div>

        <div id="partners" class="container marketing">
            <hr class="featurette-divider">
            <h2 class="featurette-heading spc">Many thanks to these <span class="text-muted">amazing partners.</span>
            </h2>
            <div class="row align-items-center">
                <div class="col-lg-4 bottom">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250"
                         height="150" src="/static/images/iaa_logo.jpg" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img"><title>IAA</title></img>
                </div>
                <div class="col-lg-4 bottom">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150"
                         height="150" src="/static/images/hope_logo.png" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img"><title>HOPE</title></img>
                </div>
                <div class="col-lg-4 bottom">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150"
                         height="150" src="/static/images/columbia_college.png" preserveAspectRatio="xMidYMid slice"
                         focusable="false" role="img"><title>CC</title></img>
                </div>
            </div>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div id="inst-pad" class="container marketing">

            <h2 class="featurette-heading spc">
                <hr class="featurette-divider">
                Your instructors. <span class="text-muted">Help is just a click away.</span></h2>

            <!-- Three columns of text below the carousel -->
            <div class="row" id="instructors">
                <div class="col-lg-3">
                    <img class="bd-placeholder-img rounded-circle" src="/static/images/jim.png" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    </img>
                    <h2>Meet Jim</h2>
                    <p>Jim finds great delight in building cool things with technology. He has an affinity for figuring
                        out how things work, and will guide you through his fascinating process.</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">Contact &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="bd-placeholder-img rounded-circle" src="/static/images/lisa.png" width="140"
                         height="140"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    </img>
                    <h2>Meet Lisa</h2>
                    <p>Lisa is passionate about teaching computer science to young and inquisitive minds. She heads up
                        the local chapter of Girls Who Code. She'll show you the way.</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">Contact &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="bd-placeholder-img rounded-circle" src="/static/images/sam.png" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    </img>
                    <h2>Meet Sam</h2>
                    <p>Sam, our resident code ninja, is beginning graduate school to study computer science. He is a
                        talented software developer, and loves to share his knowledge.</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">Contact &raquo;</a></p>-->
                </div>
                <div class="col-lg-3">
                    <img class="bd-placeholder-img rounded-circle" src="/static/images/shauna.png" width="140"
                         height="140"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    </img>
                    <h2>Meet Shauna</h2>
                    <p>Shauna is a sophomore majoring in computer science. She took her first programming course in high
                        school and was hooked! She can't wait to help with your coding labs.</p>
                    <!--<p><a class="btn btn-secondary" href="#" role="button">Contact &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr id="learn" class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Learn to code. <span
                            class="text-muted">It will change your life.</span></h2>
                    <p class="lead">Ready to join a Top Secret Club (a.k.a., the Tech Community)? It can be frustrating
                        learning to code, but after building a website or application – even a simple one – there is
                        always an overwhelming feeling of accomplishment. Reaching a pivotal point on a project or
                        overcoming a problem that has been taking several days to solve can bring on that feeling of
                        achievement. It will change your life. Just give it a chance.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                         height="400" src="/static/images/coding.gif" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img" aria-label="Placeholder: 500x500"><title>Update</title></img>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Does this look scary? <span class="text-muted">Do not worry.</span>
                    </h2>
                    <p class="lead">Our goal is to demystify technology. By taking a look "under the hood," you'll
                        develop an understanding of how all these pieces come together to make complex devices work.
                        We'll take you through some pretty intimidating tasks, and you'll walk away saying, "well,
                        that's wasn't so bad."</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                         height="400" src="/static/images/update.gif" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img" aria-label="Placeholder: 500x500"><title>Update</title></img>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Let's build something. <span
                            class="text-muted">Insanely great.</span></h2>
                    <p class="lead">We have hardware. We have software. Let's put them together to construct something
                        extraordinarily cool! In the amazing Introduction to Systems Engineering course, you'll learn
                        how to build circuits and control them with software. Your ideas will really take flight.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                         height="400" src="/static/images/rocket.gif" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img" aria-label="Placeholder: 500x500"><title>Update</title></img>
                </div>
            </div>
            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('.navbar-nav a').on('click', function () {
            $('.navbar-nav').find('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
        });
    </script>
{% endblock %}
