{% extends "main.html" %}

{% block head %}
    <link href="/static/css/global.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Instructor and TA Contact Information</h1>
        <div class="row">
            <div class="card">
                <img src="/static/images/sam.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sam Clark</h5>
                    <p class="mb-1 text-muted">
                        802-777-1142<br>
                        samuel.clark@uvm.edu
                    </p>
                    <a class="btn btn-dark" href="#" role="button">Visit Profile</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/sam.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sam Clark</h5>
                    <p class="mb-1 text-muted">
                        802-777-1142<br>
                        samuel.clark@uvm.edu
                    </p>
                    <a class="btn btn-dark" href="#" role="button">Visit Profile</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/sam.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sam Clark</h5>
                    <p class="mb-1 text-muted">
                        802-777-1142<br>
                        samuel.clark@uvm.edu
                    </p>
                    <a class="btn btn-dark" href="#" role="button">Visit Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

