{% extends "global_profile.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/global.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        {% if user.discriminator == "student" %}
            <h1>Course Links</h1>
            <ul>
                <li>
                    <a href="#">Canvas Portal</a>
                </li>
                <li>
                    <a href="#">Worm Hosting</a>
                </li>
            </ul>

            <h4>Application Downloads</h4>
            <ul>
                <li>
                    <a href="#">test</a>
                </li>
            </ul>
            <br>
        {% endif %}

        <h1>Instructor and TA Contact Information</h1>
        <div class="row">
            {% for instructor in instructors %}
                {{ card(instructor, True) }}
            {% endfor %}
        </div>
        <br>

        {% if user.discriminator == "student" %}
            <h1>Connect to VM</h1>
            <div class="vm-info" id="vm-polling">
                <div class="spinner-border">
                </div>
            </div>
            <div class="hidden vm-info" id="vm-off">
                <p>Your VM is currently <span class="badge badge-danger">stopped</span>.</p>
                <a class="btn btn-primary" id="start-vm-button" href="#" role="button">Start VM</a>
            </div>
            <div class="hidden vm-info col-4" id="vm-on">
                <p>Your VM is currently <span class="badge badge-success">running</span>.</p>
                <div class="form-group">
                    <label for="vm-ip">VNC IP Address</label>
                    <input type="text" class="form-control" id="vm-ip" readonly>
                </div>
            </div>
            <div class="hidden vm-info" id="vm-error">
                <div class="alert alert-danger" role="alert" id="vm-alert">
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/info.js"></script>
{% endblock %}

