{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/profile.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block body_params %}{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><img style="width: 70%" src="/static/images/STEMatIAA_logo.png"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% block nav_content %}
                        <li class="nav-item">
                            <div style="position: relative">
                                <input autocomplete="off" class="form-control mr-sm-2 dropdown-toggle"
                                       id="profile-search" type="text" placeholder="Search"
                                       aria-label="Search" data-toggle="dropdown">
                                <div class="dropdown-menu" style="visibility: hidden;">
                                    <div class="list-group search-dropdown" id="search-dropdown"
                                         style="visibility: visible;">
                                    </div>
                                </div>
                            </div>
                        </li>

                    {% endblock %}
                </ul>
                {% if not user.is_anonymous %}
                    {% block navbar %}{% endblock %}

                    <div style="position: relative">
                        <a class="nav-link dropdown-toggle text-light" id="user_dropdown"
                           href=""
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{ user.username }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_dropdown">
                            <a class="dropdown-item" href="/profile/{{ user.username }}">Profile</a>
                            <a class="dropdown-item" href="/profile/{{ user.username }}/info">Course Information</a>
                            <a class="dropdown-item" href="/profile/{{ user.username }}/account">Account</a>
                            {% if user.discriminator != "student" %}
                                <a class="dropdown-item" href="/solutions">Solutions</a>
                            {% endif %}
                            {% if user.discriminator == "instructor" %}
                                <a class="dropdown-item" href="/admin">Administration</a>
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-light" href="/login">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <div class="many-brs"></div>

    <!-- FOOTER -->
    <div class="at-bottom">
        <hr>
        <footer>
            <div class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p><img class="" src="/static/images/cc.logo.png" alt="Creative Commons Logo"> | <strong>STEM@IAA -
                    2019</strong></p>
            </div>
        </footer>
    </div>


{% endblock %}

{% macro username(user) %}
    <a class="text-info" href="/profile/{{ user.username }}">{{ user.stylized_username }}</a>
{%- endmacro %}

{% macro label(user, h) %}
    <{{ h }}>
    <mark class="user-label-hash text-muted">#</mark><mark class="user-label">{{ user.label }}</mark>
    </{{ h }}>
{%- endmacro %}

{% macro card(profile_user, user, full) -%}
    <div class="card">
        {% if full %}
            <img src="{{ profile_user.profile_picture_path_or_default }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            {% if profile_user.full_name %}
                <h4 class="card-title mb-2">{{ profile_user.full_name }}</h4>
            {% endif %}
            {{ label(profile_user, "h6") }}
            <p class="mt-3 mb-2 text-muted">
                {{ username(profile_user) }}
                {% if profile_user.email %}
                    <br>
                    {{ profile_user.email }}
                {% endif %}
                {% if profile_user.skype_id %}
                    <br>
                    <span class="text-secondary">skype:</span>
                    <a href="live:{{ profile_user.skype_id }}" class="text-info">{{ profile_user.skype_id }}</a>
                {% endif %}
                {% if profile_user.location %}
                    <br>
                    {{ profile_user.location }}
                {% endif %}
            </p>

            {% for cohort in profile_user.cohorts %}
                {% if cohort in user.cohorts %}
                    <a href="/cohort/{{ cohort.id }}"><span class="badge badge-info">{{ cohort.name }}</span></a>
                {% endif %}
            {% endfor %}

            {% if profile_user.discriminator == "student" %}
                {% if user.discriminator == "instructor" or (user.discriminator == "mentor" and profile_user in user.students) %}
                    <br><br>
                    <div class="vm-connect" data-username="{{ profile_user.username }}">
                        <div class="spinner-border"></div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/main.js"></script>
{% endblock %}
