{% extends "global_profile.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/global.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block body_params %}{% endblock %}

{% block navbar %}
    {% if is_user %}
        <a class="btn btn-primary" id="edit_button" href="">Edit</a>
    {% endif %}
    {% if user.discriminator == "instructor" and not is_user %}
        <a class="btn btn-outline-secondary" href="/profile/{{ profile_user.username }}/account">{{profile_user.username}} Settings</a>
    {% endif %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid" style="padding: 0px; max-width: 1200px;">
        <div class="title-section jumbotron p-4 p-md-5 {% block title_section_class %}{% endblock %}"
             style="border-radius: 0">
            <div class="row justify-content-between">
                <div class="col-sm-8 px-10">
                    <h1 class="m-0 display-3">{{ profile_user.full_name or profile_user.stylized_username }}</h1>
                    {{ label(profile_user, "h5") }}

                    <p class="mt-4 lead editable"
                       id="bio">{{ profile_user.bio if profile_user.bio else 'This user did not enter a bio yet.' }}</p>
                </div>
                <div class="col-sm-4">
                    <img class="bd-placeholder-img img-thumbnail rounded-lg shadow" id="upload-picture-button"
                         src="{{ profile_user.profile_picture_path_or_default }}"
                         width="100%" focusable="false"
                            {% if is_user %}
                         style="cursor: pointer"
                            {% endif %}>
                    {% if is_user %}
                        <form class="hidden" id="upload-picture-form"
                              action="/profile/{{ profile_user.username }}/picture" method="post"
                              enctype="multipart/form-data">
                            <input type="file" name="profile_picture" id="upload-picture-input">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="max-width: 1200px;">
        <div class="row justify-content-between">
            <div class="col">
                <h1 class="font-italic"><strong>
                    {{ "Student Portfolio" if profile_user.discriminator == "student" else "Content" }}
                </strong></h1>

                <hr>
                <div class="portfolio-content editable"
                     id="portfolio">{{ profile_user.portfolio | safe if profile_user.portfolio else 'This user did not create their portfolio yet.' }}</div>
            </div>

            <div class="col col-sm-auto info-col">
                <h3 class="mb-2">{{ profile_user.label }} Info</h3>
                <div class="row">
                    {{ card(profile_user, user, False) }}
                </div>
                <br>
                {% block info_col %}
                {% endblock %}
            </div>
        </div>
        {% block profile_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/profile.js"></script>
{% endblock %}
