{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="text-center" style="width: 100%;">
        <form action="/register" method="post" class="form-signin">
            <img class="mb-4" src="/static/images/STEMatIAA_logo.png">
            <h1 class="h3 mb-3 font-weight-normal">Create a new account</h1>

            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active">
                    <input type="radio" name="user_type" id="is_student" autocomplete="off" value="student" checked>Student
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="user_type" id="is_mentor" autocomplete="off" value="mentor">Mentor
                </label>
            </div>
            <br>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
{% endblock %}