{% extends "main.html" %}

{% block title %}{{ solution.name }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="many-brs"></div>
    <div class="container-fluid m-lg-5">
        <a class="btn btn-info" href="/solutions/{{ solution.cohort_id }}"
           role="button">&#8249; {{ solution.cohort.name }} Solutions</a>
        <br><br>

        <h1>{{ solution.name }} <small class="text-info">solution</small></h1>
        <hr>

        {% if user.discriminator == "instructor" %}
            <form class="form-inline">
                <div class="form-group mr-2">
                    <label for="new-cohort-name">Add files</label>
                </div>
                <div class="form-group mx-2">
                    <button class="btn btn-info" id="add-files-button" type="button">+</button>
                </div>
            </form>
            <form class="hidden" id="upload-files-form"
                  action="/solution/{{ solution.id }}/files" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="solution_files" id="upload-files-input" multiple>
            </form>
        {% endif %}
        <br><br>

        <div class="list-group">
            {% for file in solution.files %}
                <button class="list-group-item list-group-item-action" type="button" data-toggle="collapse"
                        data-target="#file_{{ file.id }}">
                    {{ file.name }}
                </button>
                <div id="file_{{ file.id }}" class="collapse">
                    <br>
                    <a class="btn btn-sm btn-outline-primary"
                       download="{{ file.name }}"
                       href="/static/protected/solutions/{{ solution.cohort_id }}/{{ solution.id }}/{{ file.id }}"
                       role="button">
                        Download
                    </a>

                    {% if user.discriminator == "instructor" %}
                        <button type="button" class="btn btn-sm btn-outline-danger file-delete-button"
                                data-file-id="{{ file.id }}">Delete
                        </button>
                    {% endif %}

                    <div class="card w-100 mx-0">
                        <pre class="m-0"><code>{{ file.content }}</code></pre>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let solution_id = "{{ solution.id }}";
    </script>
    <script src="/static/js/solution.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}
