{% extends "profile.html" %}

{% block head %}
    <link href="/static/css/global.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
    <link href="/static/css/student_profile.css" rel="stylesheet">
{% endblock %}

{% block profile_content %}
    <div class="row justify-content-between">
        <div class="col">
            <h1 class="font-italic"><strong>Student Portfolio</strong></h1>

            <hr>
            <div class="portfolio-content">{{ profile_user.portfolio if profile_user.portfolio else 'This user did not create their portfolio yet.' }}</div>
        </div>

        <div class="col col-sm-auto">
            <h3 class="mb-2">Student Info</h3>
            <div class="row">
                {{ card(profile_user, False) }}
            </div>
            <br>
            {% if profile_user.mentors|length > 0 %}
                <h3 class="mb-2">Mentored By</h3>
                {% for mentor in profile_user.mentors %}
                    <div class="row">
                        {{ card(mentor, True) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
